a, a:visited, .list-icon ul li .ion, .post-heading-left p, .post-heading-center p, .carousel-slider .slick-prev:hover, .carousel-slider .slick-next:hover, .carousel-slider .slick-prev:hover:before, .carousel-slider .slick-next:hover:before, #navigation_affix .nav > li > a:hover, #navigation_affix .nav > li.active > a, .affa-feature-icon .feature-icon-heading .ion, .affa-feature-icon2 .ion, .affa-counter p .ion { color:#fa6a37; }

a:hover { color:#a9a9a9; }

.btn-custom, input[type="button"], input[type="submit"], input[type="reset"], button {
	background-color:#fa6a37;
	border-color:#fa6a37;
}
.btn-custom.btn-white, input[type="button"].btn-white, input[type="submit"].btn-white, input[type="reset"].btn-white, button.btn-white, .btn-custom.btn-border, input[type="button"].btn-border, input[type="submit"].btn-border, input[type="reset"].btn-border, button.btn-border, .btn-custom.btn-white:hover, input[type="button"].btn-white:hover, input[type="submit"].btn-white:hover, input[type="reset"].btn-white:hover, button.btn-white:hover { color:#fa6a37 !important; }
.btn-custom:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
	color:#FFF !important;
	background-color:#ed5c29;
	border-color:#ed5c29;
}
input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, button:disabled, input[type="button"].btn-border:disabled, input[type="submit"].btn-border:disabled, input[type="reset"].btn-border:disabled, button.btn-border:disabled, .btn-custom.disabled:hover, input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, input[type="reset"]:disabled:hover, button:disabled:hover, .btn-custom.btn-border.disabled:hover, input[type="button"].btn-border:disabled:hover, input[type="submit"].btn-border:disabled:hover, input[type="reset"].btn-border:disabled:hover, button.btn-border:disabled:hover {
	color:#a9a9a9 !important;
	background-color:#e9e9e9;
	border-color:#e9e9e9;
}

.carousel-slider .slick-prev.slick-disabled:hover, .carousel-slider .slick-next.slick-disabled:hover, .carousel-slider .slick-prev.slick-disabled:hover:before, .carousel-slider .slick-next.slick-disabled:hover:before { color:#e0e0e0; }

.carousel-slider .slick-dots li button:hover, .carousel-slider .slick-dots li.slick-active button { background-color:#fa6a37; }

#header .header-content .header-overlay { background-color:rgba(250,106,55,.9); }
.ie #header .header-content .header-overlay { background-image:url(ie-bg-header-overlay.png); }

@media (max-width: 767px) {
	
	#header .navbar-nav { background-color:#fa6a37; }
	#header .navbar-toggle, #header .navbar-toggle.collapsed, #header .navbar-toggle.collapsed:hover {
		background-color:#fa6a37;
		border-color:#fa6a37;
	}
	
}