<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="tis.pye.team.vo.TisAccom" alias="TisAccom"/>
		<typeAlias type="tis.pye.team.vo.TisEmployee" alias="TisEmployee"/>
		<typeAlias type="tis.pye.team.vo.TisEvent" alias="TisEvent"/>
		<typeAlias type="tis.pye.team.vo.TisFlight" alias="TisFlight"/>
		<typeAlias type="tis.pye.team.vo.TisVenue" alias="TisVenue"/>
		<typeAlias type="tis.pye.team.vo.TisAdmin" alias="TisAdmin"/>
		<typeAlias type="tis.pye.team.vo.TisFacilities" alias="TisFacilities"/>
		<typeAlias type="tis.pye.team.vo.TisPolicies" alias="TisPolicies"/>
		<typeAlias type="tis.pye.team.vo.TisTransportations" alias="TisTransportations"/>
		<typeAlias type="tis.pye.team.vo.TisSupports" alias="TisSupports"/>
		<typeAlias type="tis.pye.team.vo.TisShift" alias="TisShift"/>
		<typeAlias type="tis.pye.team.vo.TisTrip" alias="TisTrip"/>
		<typeAlias type="tis.pye.team.vo.TisIti" alias="TisIti"/>
		<typeAlias type="tis.pye.team.vo.TisItiDetail" alias="TisItiDetail"/>
		<typeAlias type="tis.pye.team.vo.TisOther" alias="TisOther"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="tis/pye/team/mapper/TisMapper.xml" />
	</mappers>
</configuration>