<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TisMapper">
  	<select id="selectEmployeeByAtosName" resultType="TisEmployee" parameterType="TisEmployee">
  		select
  		*
  		from
  		tis.employee
  		where 
  		first_name = #{first_name}
  		and last_name = #{last_name}
  	</select>
  	<select id="selectEmployeeByAtosId" resultType="TisEmployee" parameterType="TisEmployee">
  		select
  		*
  		from
  		tis.employee
  		where 
  		atos_id = #{atos_id}
  		and event_id = #{event_id}
  	</select>
  	<select id="selectEmployeeByAtosIdOnly" resultType="TisEmployee" parameterType="TisEmployee">
  		select
  		*
  		from
  		tis.employee
  		where 
  		id = #{id}
  	</select>
  	<select id="selectAccomByAtosId" resultType="TisAccom" parameterType="TisEmployee">
  	SELECT 
	a.id
	,a.employee_id
	,a.venue_id
	,a.event_id
	,a.acc_room
	,a.acc_begin
	,a.acc_end
	,a.acc_pin
	,a.acc_desc
	,a.acc_fac
	,a.acc_pol
	,v.venue_pic
	,v.venue_name
	,v.venue_name_loc
	,v.venue_address
	,v.venue_address_loc
	,v.venue_desc
	FROM tis.accom a left join tis.venue v on a.venue_id = v.id 
	where a.event_id = #{event_id} 
	and a.employee_id = #{id};
  	</select>
  	<select id="selectAccomByAtosName" resultType="TisAccom" parameterType="TisEmployee">
  	SELECT 
	a.id
	,a.employee_id
	,a.venue_id
	,a.event_id
	,a.acc_room
	,a.acc_begin
	,a.acc_end
	,a.acc_pin
	,a.acc_desc
	,v.venue_pic
	,v.venue_name
	,v.venue_desc
	FROM tis.accom a left join tis.venue v on a.venue_id = v.id 
	where a.event_id = #{id} 
  	</select>
  	
  	<select id="selectActiveEvent" resultType="TisEvent">
  		select
  		*
  		from
  		tis.event
  		where 
 		active = 'Y'
  	</select>
  	<select id="selectAllEvent" resultType="TisEvent">
  		select
  		*
  		from
  		tis.event
  	</select>
  	<select id="selectEventById" resultType="TisEvent" parameterType="TisEvent">
  		select
  		*
  		from
  		tis.event
  		WHERE
  		id = #{id}
  	</select>
  	<select id="selectFlightByAtosId" resultType="TisFlight" parameterType="TisEmployee">
  		select
  		*
  		from
  		tis.flight
  		where 
  		employee_id = #{id}
  		and event_id = #{event_id}
  	</select>
  	<select id="selectVenueByAtosId" resultType="TisVenue" parameterType="TisEmployee">
  		select
  		*
  		from
  		tis.venue
  		where 
  		event_id = #{event_id}
  	</select>
  	<select id="selectHotelVenue" resultType="TisVenue">
  		select
  		*
  		from
  		tis.venue
  		where 
  		venue_type = 'hotel'
  	</select>
  	<select id="selectAdminByAdminId" resultType="TisAdmin" parameterType="TisAdmin">
  		SELECT
  		*
  		FROM
  		tis.admin
  		WHERE
  		admin_id = #{admin_id}
  	</select>
  	<insert id="insertEvent" parameterType="TisEvent">
  		INSERT into
  		tis.event
  		(
  		event_name
  		,event_desc
  		,active
  		)
  		values
  		(
  		#{event_name}
  		,#{event_desc}
  		,#{active}
  		)
  	</insert>
  	<update id="updateEvent" parameterType="TisEvent">
  	UPDATE tis.event
  	SET 
  	event_name = #{event_name}
 	,event_desc = #{event_desc}
	,active = #{active}
	WHERE
	id = #{id}
  	</update>
  	<select id="selectAllVenue" resultType="TisVenue">
  	SELECT *
  	FROM tis.venue
  	</select>
  	<insert id="insertVenue" parameterType="TisVenue">
  	INSERT INTO `tis`.`venue`
	(
	`event_id`,
	`venue_pic`,
	`venue_name`,
	`venue_name_loc`,
	`venue_address`,
	`venue_address_loc`,
	`venue_type`,
	`venue_desc`,
	`lat`,
	`lng`)
	VALUES
	(
	#{event_id},
	#{venue_pic},
	#{venue_name},
	#{venue_name_loc},
	#{venue_address},
	#{venue_address_loc},
	#{venue_type},
	#{venue_desc},
	#{lat},
	#{lng});
  	</insert>
  	<update id="updateVenue" parameterType="TisVenue">
  	UPDATE `tis`.`venue`
	SET
	`event_id` = #{event_id},
	`venue_pic` = #{venue_pic},
	`venue_name` = #{venue_name},
	`venue_name_loc` = #{venue_name_loc},
	`venue_address` = #{venue_address},
	`venue_address_loc` = #{venue_address_loc},
	`venue_type` = #{venue_type},
	`venue_desc` = #{venue_desc},
	`lat` = #{lat},
	`lng` = #{lng}
	WHERE `id` = #{id};
  	</update>
  	<select id="selectFac" resultType="TisFacilities">
  	SELECT * 
  	FROM tis.facilities
  	</select>
  	<insert id="insertFac" parameterType="TisFacilities">
  	INSERT INTO `tis`.`facilities`
	(
	`fac_title`,
	`fac_title_loc`,
	`fac_icon`)
	VALUES
	(
	#{fac_title},
	#{fac_title_loc},
	#{fac_icon});
  	</insert>
  	<update id="updateFac" parameterType="TisFacilities">
  	UPDATE `tis`.`facilities`
	SET
	`fac_title` = #{fac_title},
	`fac_title_loc` = #{fac_title_loc},
	`fac_icon` = #{fac_icon}
	WHERE `id` = #{id};
  	</update>
  	<select id="selectPol" resultType="TisPolicies">
  	SELECT * 
  	FROM tis.Policies
  	</select>
  	<insert id="insertPol" parameterType="TisPolicies">
  	INSERT INTO `tis`.`Policies`
	(
	`pol_title`,
	`pol_title_loc`,
	`pol_icon`)
	VALUES
	(
	#{pol_title},
	#{pol_title_loc},
	#{pol_icon});
  	</insert>
  	<update id="updatePol" parameterType="TisPolicies">
  	UPDATE `tis`.`Policies`
	SET
	`pol_title` = #{pol_title},
	`pol_title_loc` = #{pol_title_loc},
	`pol_icon` = #{pol_icon}
	WHERE `id` = #{id};
  	</update>
  	<select id="selectTrs" resultType="TisTransportations">
  	SELECT * 
  	FROM tis.Transportations
  	</select>
  	<insert id="insertTrs" parameterType="TisTransportations">
  	INSERT INTO `tis`.`Transportations`
	(
	`trs_title`,
	`trs_title_loc`,
	`trs_icon`)
	VALUES
	(
	#{trs_title},
	#{trs_title_loc},
	#{trs_icon});
  	</insert>
  	<update id="updateTrs" parameterType="TisTransportations">
  	UPDATE `tis`.`Transportations`
	SET
	`trs_title` = #{trs_title},
	`trs_title_loc` = #{trs_title_loc},
	`trs_icon` = #{trs_icon}
	WHERE `id` = #{id};
  	</update>
  	<select id="selectSupports" resultType="TisSupports">
  	SELECT
  	a.id
  	,a.event_id
  	,a.support_title
  	,a.support_tel
  	,b.event_name
  	FROM tis.supports a LEFT JOIN tis.event b 
  	ON a.event_id = b.id
  	</select>
  	<insert id="insertSupports" parameterType="TisSupports">
  	INSERT INTO `tis`.`supports`
	(
	`event_id`,
	`support_title`,
	`support_tel`)
	VALUES
	(
	#{event_id},
	#{support_title},
	#{support_tel});
  	</insert>
  	<update id="updateSupports" parameterType="TisSupports">
	UPDATE `tis`.`supports`
	SET
	`event_id` = #{event_id},
	`support_title` = #{support_title},
	`support_tel` = #{support_tel}
	WHERE `id` = #{id};
  	</update>
  	<select id="selectAllEmployee" resultType="TisEmployee">
  		SELECT *
  		FROM tis.employee
  	</select>
  	<insert id="insertEmployee" parameterType="TisEmployee">
  	INSERT INTO `tis`.`employee`
	(
	`event_id`,
	`picture`,
	`first_name`,
	`last_name`,
	`employee_group`,
	`tel`,
	`email`,
	`job_title`,
	`atos_id`,
	`pin`)
	VALUES
	(
	#{event_id},
	#{picture},
	#{first_name},
	#{last_name},
	#{employee_group},
	#{tel},
	#{email},
	#{job_title},
	#{atos_id},
	#{pin});
  	</insert>
  	<update id="updateEmployee" parameterType="TisEmployee">
  	UPDATE `tis`.`employee`
	SET
	`event_id` = #{event_id},
	`picture` = #{picture},
	`first_name` = #{first_name},
	`last_name` = #{last_name},
	`employee_group` = #{employee_group},
	`tel` = #{tel},
	`email` = #{email},
	`job_title` = #{job_title},
	`atos_id` = #{atos_id},
	`pin` = #{pin}
	WHERE `id` = #{id};
  	</update>
  	<select id="existTisShift" parameterType="TisShift" resultType="Integer">
  	SELECT EXISTS(SELECT * FROM tis.shift WHERE 
  	event_id = #{event_id}
  	and supports_id = #{supports_id}
  	and group_name = #{group_name}
  	);
  	</select>
  	<insert id="insertShift" parameterType="TisShift">
  	INSERT INTO `tis`.`shift`
	(
	`event_id`,
	`emp_id`,
	`supports_id`,
	`group_name`)
	VALUES
	(
	#{event_id},
	#{emp_id},
	#{supports_id},
	#{group_name});
  	</insert>
  	<update id="updateShift" parameterType="TisShift">
  	UPDATE `tis`.`shift`
	SET
	`emp_id` = #{emp_id}
	WHERE 
	event_id = #{event_id}
  	and supports_id = #{supports_id}
  	and group_name = #{group_name}
  	</update>
  	<select id="selectShiftBySupportId" parameterType="Integer" resultType="TisShift">
  	SELECT * FROM `tis`.`shift`
  	WHERE supports_id = #{param}
  	</select>
  	<select id="selectTripsJoinDesc" resultType="TisTrip">
	select 
	a.id, a.emp_id, a.event_id, b.event_name, c.first_name, c.last_name 
	from tis.trip a 
	left join `tis`.`event` b on a.event_id = b.id
	left join tis.employee c on a.emp_id = c.id;
  	</select>
  	<insert id="insertTrip" parameterType="TisTrip">
  	INSERT INTO `tis`.`trip`
	(
	`emp_id`,
	`event_id`)
	VALUES
	(
	#{emp_id},
	#{event_id});	  	
  	</insert>
  	<select id="existTisTrip" parameterType="TisTrip" resultType="Integer">
  	SELECT EXISTS
  	(SELECT * FROM tis.trip WHERE 
  	emp_id = #{emp_id}
  	and event_id = #{event_id}
  	);
  	</select>
  	<select id="selectTripByParam" parameterType="TisTrip" resultType="TisTrip">
  	SELECT * FROM tis.trip
  	WHERE emp_id = #{emp_id}
  	and event_id = #{event_id}
  	</select>
  	
  	<select id="existAcc" parameterType="TisAccom" resultType="Integer">
  	SELECT EXISTS
  	(SELECT * FROM tis.accom WHERE 
  	employee_id = #{employee_id}
  	and event_id = #{event_id}
  	);
  	</select>
  	<insert id="insertAcc" parameterType="TisAccom">
  	INSERT INTO `tis`.`accom`
	(
	`employee_id`,
	`venue_id`,
	`event_id`,
	`acc_room`,
	`acc_begin`,
	`acc_end`,
	`acc_pin`,
	`acc_desc`,
	`acc_fac`,
	`acc_pol`)
	VALUES
	(
	#{employee_id},
	#{venue_id},
	#{event_id},
	#{acc_room},
	#{acc_begin},
	#{acc_end},
	#{acc_pin},
	#{acc_desc},
	#{acc_fac},
	#{acc_pol});
  	</insert>
  	<update id="updateAcc" parameterType="TisAccom">
  	UPDATE `tis`.`accom`
	SET
	`employee_id` = #{employee_id},
	`venue_id` = #{venue_id},
	`event_id` = #{event_id},
	`acc_room` = #{acc_room},
	`acc_begin` = #{acc_begin},
	`acc_end` = #{acc_end},
	`acc_pin` = #{acc_pin},
	`acc_desc` = #{acc_desc},
	`acc_fac` = #{acc_fac},
	`acc_pol` = #{acc_pol}
	WHERE
	employee_id = #{employee_id}
  	and event_id = #{event_id}
  	</update>
  	<select id="selectItiByTrip" parameterType="Integer" resultType="TisIti">
  	SELECT * FROM tis.iti WHERE trip_id = #{param}
  	</select>
  	<insert id="insertIti" parameterType="TisIti">
	INSERT INTO `tis`.`iti`
	(
	`trip_id`,
	`stmp`,
	`desc`,
	`desc_local`)
	VALUES
	(
	#{trip_id},
	#{stmp},
	#{desc},
	#{desc_local});
  	</insert>
  	<update id="updateIti" parameterType="TisIti">
  	UPDATE `tis`.`iti`
	SET
	`trip_id` = #{trip_id},
	`stmp` = #{stmp},
	`desc` = #{desc},
	`desc_local` = #{desc_local}
	WHERE `id` = #{id};
  	</update>
  	<select id="existTisOther" parameterType="TisOther" resultType="Integer">
  	SELECT EXISTS(SELECT * FROM tis.other WHERE 
  	event_id = #{event_id}
  	and emp_id = #{emp_id}
  	);
  	</select>
  	<insert id="insertTisOther" parameterType="TisOther">
  	INSERT INTO
  	tis.other
  	(
  	event_id
  	,emp_id
  	,note
  	)
  	VALUES
  	(
  	#{event_id}
  	,#{emp_id}
  	,#{note}
  	)
  	</insert>
  	<update id="updateTisOther" parameterType="TisOther">
  	UPDATE tis.other
  	SET
  	note = #{note}
  	WHERE
  	event_id = #{event_id}
  	AND 
  	emp_id = #{emp_id}
  	</update>
  	<select id="selectTisOtherByEventEmp" parameterType="TisOther" resultType="TisOther">
  	SELECT *
  	FROM tis.other
  	WHERE
  		event_id = #{event_id}
  	AND
  		emp_id = #{emp_id}
  	</select>
  	<select id="selectTisItiById" parameterType="Integer" resultType="TisIti">
  	SELECT  
	i.id
	,i.trip_id
	,i.stmp
	,i.`desc`
	,i.desc_local
	,e.first_name
	,e.last_name
	,ev.event_name
	FROM tis.iti i 
	left join tis.trip t on t.id = i.trip_id
	left join tis.employee e on e.id = t.emp_id
	left join tis.`event` ev on ev.id = t.event_id
	WHERE i.id = #{param}
  	</select>
  	<insert id="insertItiDet" parameterType="TisItiDetail">
  	INSERT INTO `tis`.`iti_detail`
	(
	`stmp`,
	`trs_id`,
	`iti_id`,
	`desc`,
	`desc_local`,
	`note`,
	`note_local`)
	VALUES
	(
	#{stmp},
	#{trs_id},
	#{iti_id},
	#{desc},
	#{desc_local},
	#{note},
	#{note_local})
  	</insert>
  	<update id="updateItiDet" parameterType="TisItiDetail">
  	UPDATE `tis`.`iti_detail`
	SET
	`id` = #{id},
	`stmp` = #{stmp},
	`trs_id` = #{trs_id},
	`iti_id` = #{iti_id},
	`desc` = #{desc},
	`desc_local` = #{desc_local},
	`note` = #{note},
	`note_local` = #{note_local}
	WHERE `id` = #{id};
  	</update>
  	<select id="selectItiDetById" parameterType="Integer" resultType="TisItiDetail">
  	SELECT * FROM tis.iti_detail WHERE iti_id = #{param}
  	</select>
</mapper>